In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel('2024_2021_tomato_modal_data.xlsx')

In [5]:
df

          DDate VarityName CommName  AvgModel
0    2021-01-01     Common   Tomato     650.0
1    2021-01-02     Common   Tomato     900.0
2    2021-01-03     Common   Tomato     750.0
3    2021-01-04     Common   Tomato     600.0
4    2021-01-05     Common   Tomato     650.0
...         ...        ...      ...       ...
1420 2024-11-26     Common   Tomato    2900.0
1421 2024-11-27     Common   Tomato    2750.0
1422 2024-11-28     Common   Tomato    2775.0
1423 2024-11-29     Common   Tomato    2600.0
1424 2024-11-30     Common   Tomato    2900.0

[1425 rows x 4 columns]

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, FunctionTransformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

In [7]:
# Assuming df is your DataFrame
df['DDate'] = pd.to_datetime(df['DDate'])

# Extract features from date
df['year'] = df['DDate'].dt.year
df['month'] = df['DDate'].dt.month
df['day'] = df['DDate'].dt.day

# Drop the original date column
df = df.drop(columns=['DDate'])

# Split features and target
X = df.drop(columns=['AvgModel'])
y = df['AvgModel']

In [8]:
# Categorical and numerical columns
categorical_cols = ['VarityName', 'CommName']
numerical_cols = ['year', 'month', 'day']

# ColumnTransformer for preprocessing
preprocessor = ColumnTransformer(transformers=[
    ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols),
], remainder='passthrough')  # passthrough will keep numerical columns

In [9]:
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor(n_estimators=100, random_state=42))
])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

pipeline.fit(X_train, y_train)

# Predict and evaluate
y_pred = pipeline.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse:.2f}')

Mean Squared Error: 251162.01